body {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* --------------- */
/*     HEADER      */
/* --------------- */
header {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
}

header>img {
    height:60%;
    width: auto;
    margin-left: 50px;
    animation: papillon 2s alternate infinite;
}

@keyframes papillon {
    0% {
        transform: scale(1.06) rotatey(45deg);
    }

    20% {
        transform: scale(1.05) rotatey(90deg);
    }

    40% {
        transform: scale(1.04) rotatey(45deg);
    }

    60% {
        transform: scale(1.03) rotatey(90deg);
    }

    80% {
        transform: scale(1.02) rotatey(10deg);
    }

    100% {
        transform: scale(1.01) rotatey(180deg);
    }

}

header>h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    margin-top: 0px;
}

header>h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    margin-top: 0px;
    margin-left: 5%;
}

/* --------------- */
/*     SECTION     */
/* --------------- */
section {
    /* Toutes les sections seront des conteneurs flexible */
    display: flex;
    margin-top: 10px;
}

/* ------------------------------------ */
/*  BOX VIGNETTE + BOX IMG FULSCREEN    */
/* ------------------------------------ */
/* .VignFull {
    display: flex;
} */

/* --------------- */
/*   CATALOGUE    */
/* --------------- */
.catalogue {
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    height: 70px;
}

.catalogue button {
    border-radius: 3px;
    background-color: rgb(202, 196, 196);
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
}

/* --------------- */
/*    VIGNETTTES    */
/* --------------- */
.vignette {
    align-items: center;
}

.vignette img {
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.582);
    border: 1px dashed gray;
    border-radius: 10px;
    transition: 1s;
}

.vignette img:hover {
    transform: scale(0.8) rotatex(20deg);
}

/* --------------- */
/*    MAXIMIZE  (Zoom de l'image sélectionnée)   */
/* --------------- */

.maximize {
    flex-direction: column;
    padding: 10px;
}

.maximize>p {
    font-family: 'Lobster', cursive;
    font-family: 'Teko', sans-serif;
    font-family: 'Old Standard TT', serif;
    padding: 10px;
    border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.3em;
}

.maximize>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.maximize>div>img {
    box-shadow: 5px 5px 10px 2px rgba(8, 8, 8, 0.582);
    border-radius: 3px;
    width: 98%;
}

/*----------------------------------------------------------- */
/*                    Media Queries CSS3                      */
/* ---------------------------------------------------------- */
/*
                    @media(max-width:767px){}
                    @media(min-width:768px){}
                    @media(min-width:992px){}
                    @media(min-width:1200px){} 
*/

/*----------------------------------------------------------- */
/*              Media Queries CSS3 (mobile)             */
/* ---------------------------------------------------------- */

@media(max-width:767px) {
    body {
        flex-direction: column;
    }

    header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header>h1 {
        font-size: 1.5em;
        margin-right: 15%;
        margin-left: 20%;
    }

    header>h2 {
        font-size: 1.5em;
    }

    .catalogue>button {
        width: 200px;
    }

    /* ------------------------------------ */
    /*  BOX VIGNETTE + BOX IMG FULSCREEN    */
    /* ------------------------------------ */
    .VignFull {
        display: flex;
        flex-direction: column;
    }

    /* --------------- */
    /*    VIGNETTTE    */
    /* --------------- */
    .vignette {
        flex-direction: row;
        overflow-x: scroll;
        white-space: nowrap;
        height: 150px;
    }

    .vignette>img {
        margin-right: 10px;
        height: 80%;
    }

    /* --------------- */
    /*    MAXIMIZE     */
    /* --------------- */
    .maximize>p {
        font-size: 1.3em;
        max-height: 92px;
    }
}

/*----------------------------------------------------------- */
/*            Media Queries CSS3     (Tablette)               */
/* ---------------------------------------------------------- */
@media(min-width:768px) {
    header {
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    header>h1 {
        font-size: 2.5em;
        margin-right: 15%;
        margin-left: 20%;
    }

    header>h2 {
        font-size: 1.7em;
    }

    .catalogue {
        justify-content: space-between;
        overflow-x: hidden;
    }

    .catalogue>button {
        width: 300px;
    }

    /* ------------------------------------ */
    /*  BOX VIGNETTE + BOX IMG FULSCREEN    */
    /* ------------------------------------ */
    .VignFull {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .vignette {
        flex-direction: column;
        overflow-y: scroll;
        white-space: nowrap;
        min-width: 300px;
        width: 400px;
        height: 700px;
    }

    .vignette img {
        margin-top: 10px;
        width: 80%;
    }

    /* --------------- */
    /*    MAXIMIZE     */
    /* --------------- */
    .maximize>p {
        overflow-y: scroll;
        overflow-x: hidden;

    }
}

/*----------------------------------------------------------- */
/*                    Media Queries CSS3  (PC)                    */
/* ---------------------------------------------------------- */
@media(min-width:992px) {
    header>h1 {
        font-size: 4em;
        margin-right: 15%;
        margin-left: 20%;
    }

    header>h2 {
        font-size: 1.9em;
    }

    .vignette {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        min-width: 600px;
        height: 900px;
    }

    .vignette img {
        width: 45%;
    }
}